.data-map {
  min-width: 500px;
  margin: 0em;
}

.point-map {
  min-width: 500px;
  margin: 0em;
  position: relative;
  //border: 1px solid red;
}

.metric-select {
  margin: 1em 0;
}

.tooltip {
  white-space: pre-wrap;

  margin: auto;
  position: absolute;
  text-align: left;
  height: 2em;
  padding: 2em;
  font: 10px sans-serif;
  background: rgb(48, 50, 53);
  color: white;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;

  display: flex;
  align-items: center;
}
